:root{
   --light-orangebg:rgb(148, 148, 241);
   --dark-orangebg:rgb(117, 117, 231);
}
body{
   min-width: 100vw;
   min-height: 100vh;
   /* background-color:var(--light-orangebg); */
   background: linear-gradient(135deg,#71b7e6,#9b59b6);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0;
   overflow-x: hidden;
   box-sizing: border-box;
}

h1{
   text-align: center;
   font-size: 3rem;
   /* color: #325fdd; */
   text-shadow: 00 2px 2px #000;
   color:  rgb(4, 4, 202);
   /* background: linear-gradient( blue,rgb(6, 6, 150),rgb(48, 48, 170)); 
   -webkit-text-fill-color: transparent; 
   background-clip: text;  */
}
.body-container{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
form{
    width: 51%;
    /* background-color: var(--dark-orangebg); */
    background-color: #fff;
    margin: auto;
    box-shadow: 0px 0px 10px 4px;
    padding: 0;
}
.required{
   color: rgb(134, 12, 12);
}
.global-error{
   padding: 0.5rem 1rem 0;
   font-size: 1.7rem;
   color: rgb(134, 12, 12);
   font-weight: 600;
}
.error{
   font-size:1.2rem;
   color: rgb(134, 12, 12);
}
h2{
   padding: 0.5rem 1rem 0;
   margin: 0;
   font-size: 2rem;
   text-decoration: underline;
}
.form-container{
   padding: 0 1rem 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
fieldset{
   width: 75%;
   margin: 1rem;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;

}
legend{
   font-size: 1.5rem;
   font-weight: 600;
}
label,.gender{
   font-size: 1.5rem;
}
.input-div{ 
   width: 100%;
}
.input-div label{
   display: inline-block;
   width: 30%;
}

.input-box{ 
   padding: 0.6rem;
   width: 60%;
   outline: none;
   font-size: 1.1rem;
   border-radius: 0.6rem;
   border: 1px solid #ccc !important;
   border-bottom: 2px ;
   /* background-color: rgb(212, 205, 205); */
   border: none;
}
.gender-box{
   border: none !important;
}
.gender-div {
   display: flex;
   flex-wrap: wrap;
}
.gender-div .gender{
   width: 30%;
}
.male{
   width: 30%;
}
.female{
   width: 43%;
}
.male label,.female label{
   font-size: 1.2rem;
}
.gender-box{
   display: flex;
   background-color: inherit;
}
.submit{
   margin: 0 1rem ;
   width: 15rem;
  padding: 10px 10px;
  font-size: 1.5rem;
  border-radius: 1rem;
  border:none;
  /* background-color: rgb(109, 109, 241); */
  background: linear-gradient(135deg,#71b7e6,#9b59b6);
  border:black;
  box-shadow: 0 0 3px 4px #524949;
  cursor: pointer;
}
.submit:hover{
   background: linear-gradient(-135deg,#71b7e6,#9b59b6);
   background-color: rgb(10, 10, 124);
}
select{
   background: #fff;
}
.table-container{
   width: 45%;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   background-color: #fff;
   margin-right: 2rem;
   height: 52rem;
   box-shadow: 0px 0px 10px 4px;
   
}
table{
   background-color: #fff;
   width: 85%;
}
table,tr,th,td{
   border:1px solid #ccc;
}
table{
   border-collapse: collapse;

}
th{
   font-size: 1.5rem;
}
th,td{
   padding: 0.5rem;
}
.table-heading{
   color: black;
}
@media screen and (max-width:1200px){
   form{
      width: 80%;
   }
   fieldset{
      width: 80%;
   }
   .male,.female{
      width: 50%;
   }
   .male label,.female label{
      width: 50%;
   }
   .body-container{
      justify-content: center;
      align-items: center;
   }
   .table-container{
      width: 76%;
      margin-right: 0;
      margin-top: 0.5rem;
   }
}

@media screen  and (max-width:700px){
   body{
      /* background-color: var(--dark-orangebg); */
   }
   
   form{
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: none;

      /* background: linear-gradient(135deg,#71b7e6,#9b59b6); */
   }
   .table-container{
      width: 85%;
   }
   
   h1{
      font-size: 2.8rem;
      color:#9b59b6 ;
   }
   h2{
      font-size: 2rem;
      padding: 0 0.5rem 1rem;
   }
   .form-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   fieldset{
      width: 100%;
   }
}
@media screen and (max-width:620px){
   th,td{
      padding: 0.2rem;
   }
   th{
      font-size: 1.3rem;
   }
   table{
      width: 95%;
   }
}
@media screen and (max-width:490px){
   th{
      font-size: 1rem;
   }
}
@media screen and (max-width:580px){
   h1{
      font-size: 2.5rem;
   }
   h2{
      font-size: 1.6rem;
   }
   fieldset{
      width: 100%;
   }
}
@media screen and (max-width:580px){
   h1{
      font-size: 2.4rem;
   }
   .form-container{
      width: 100%;
   }
   fieldset{
      width: 83%;
   }
}
@media screen and (max-width:580px){
   h1{
      font-size: 2.4rem;
   }
   .form-container{
      width: 100%;
   }
   fieldset{
      width: 83%;
   }
}